/* COLORS, FONTS, and SPACING */

:root {
	--font-body: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--font-display: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;

    /* Size variables from https://utopia.fyi/ */

	--size--1: clamp(0.75rem, 0.7159rem + 0.1515vw, 0.8333rem);
	--size-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
	--size-1: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
	--size-2: clamp(2.5313rem, 2.4162rem + 0.5114vw, 2.8125rem);
	--size-3: clamp(3.7969rem, 3.6243rem + 0.767vw, 4.2188rem);
	--size-4: clamp(5.6953rem, 5.4364rem + 1.1506vw, 6.3281rem);
	--size-5: clamp(8.543rem, 8.1547rem + 1.7259vw, 9.4922rem);

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

	--clr-light: #ddd;
	--clr-dark: #333;
	--clr-primary: hsl(288 78 82);
	--clr-secondary: #c7f2fc;

	--border-radius: 0.2em;
}